# permissions for end users to view vlogs.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: vm-operator
    app.kubernetes.io/managed-by: kustomize
  name: operator-vlogs-viewer-role
rules:
- apiGroups:
  - operator.victoriametrics.com
  resources:
  - vlogs
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - operator.victoriametrics.com
  resources:
  - vlogs/status
  verbs:
  - get
