# permissions for end users to view vmscrapeconfigs.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: vm-operator
    app.kubernetes.io/managed-by: kustomize
  name: operator-vmscrapeconfig-viewer-role
rules:
- apiGroups:
  - operator.victoriametrics.com
  resources:
  - vmscrapeconfigs
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - operator.victoriametrics.com
  resources:
  - vmscrapeconfigs/status
  verbs:
  - get
