apiVersion: operator.victoriametrics.com/v1beta1
kind: VMAlertmanager
metadata:
  name: example-alertmanager
spec:
  resources:
    requests:
      cpu: "50m"
      memory: "150Mi"
    limits:
      cpu: "100m"
      memory: "250Mi"
  replicaCount: 1
  configRawYaml: |
    global:
      resolve_timeout: 5m
    route:
      group_wait: 30s
      group_interval: 5m
      repeat_interval: 12h
      receiver: 'webhook'
    receivers:
    - name: 'webhook'
      webhook_configs:
      - url: 'http://localhost:30502/'

