# This kustomization.yaml is not intended to be run by itself,
# since it depends on service name and namespace that are out of this kustomize package.
# It should be run by config/default
resources:
- bases/operator.victoriametrics.com_vmagents.yaml
- bases/operator.victoriametrics.com_vmalerts.yaml
- bases/operator.victoriametrics.com_vmalertmanagers.yaml
- bases/operator.victoriametrics.com_vmpodscrapes.yaml
- bases/operator.victoriametrics.com_vmrules.yaml
- bases/operator.victoriametrics.com_vmservicescrapes.yaml
- bases/operator.victoriametrics.com_vmsingles.yaml
- bases/operator.victoriametrics.com_vmclusters.yaml
- bases/operator.victoriametrics.com_vmprobes.yaml
- bases/operator.victoriametrics.com_vmnodescrapes.yaml
- bases/operator.victoriametrics.com_vmstaticscrapes.yaml
- bases/operator.victoriametrics.com_vmscrapeconfigs.yaml
- bases/operator.victoriametrics.com_vmauths.yaml
- bases/operator.victoriametrics.com_vmusers.yaml
- bases/operator.victoriametrics.com_vmalertmanagerconfigs.yaml
- bases/operator.victoriametrics.com_vlagents.yaml
- bases/operator.victoriametrics.com_vlogs.yaml
- bases/operator.victoriametrics.com_vlsingles.yaml
- bases/operator.victoriametrics.com_vlclusters.yaml
- bases/operator.victoriametrics.com_vtsingles.yaml
- bases/operator.victoriametrics.com_vtclusters.yaml
- bases/operator.victoriametrics.com_vmanomalies.yaml
- bases/operator.victoriametrics.com_vmdistributed.yaml
patches:
# [WEBHOOK] To enable webhook, uncomment all the sections with [WEBHOOK] prefix.
# patches here are for enabling the conversion webhook for each CRD
- path: patches/operator.victoriametrics.com_vmagents.yaml
  target:
    kind: CustomResourceDefinition
    name: vmagents.operator.victoriametrics.com
- path: patches/operator.victoriametrics.com_vmanomalies.yaml
  target:
    kind: CustomResourceDefinition
    name: vmanomalies.operator.victoriametrics.com
- path: patches/operator.victoriametrics.com_vmalerts.yaml
  target:
    kind: CustomResourceDefinition
    name: vmalerts.operator.victoriametrics.com
- path: patches/operator.victoriametrics.com_vmalertmanagers.yaml
  target:
    kind: CustomResourceDefinition
    name: vmalertmanagers.operator.victoriametrics.com
- path: patches/operator.victoriametrics.com_vmsingles.yaml
  target:
    kind: CustomResourceDefinition
    name: vmsingles.operator.victoriametrics.com
- path: patches/operator.victoriametrics.com_vmclusters.yaml
  target:
    kind: CustomResourceDefinition
    name: vmclusters.operator.victoriametrics.com
- path: patches/operator.victoriametrics.com_vmauths.yaml
  target:
    kind: CustomResourceDefinition
    name: vmauths.operator.victoriametrics.com
- path: patches/operator.victoriametrics.com_vmalertmanagerconfigs.yaml
  target:
    kind: CustomResourceDefinition
    name: vmalertmanagerconfigs.operator.victoriametrics.com
- path: patches/operator.victoriametrics.com_vlogs.yaml
  target:
    kind: CustomResourceDefinition
    name: vlogs.operator.victoriametrics.com
- path: patches/operator.victoriametrics.com_vlsingles.yaml
  target:
    kind: CustomResourceDefinition
    name: vlsingles.operator.victoriametrics.com
- path: patches/operator.victoriametrics.com_vlclusters.yaml
  target:
    kind: CustomResourceDefinition
    name: vlclusters.operator.victoriametrics.com
- path: patches/operator.victoriametrics.com_vtsingles.yaml
  target:
    kind: CustomResourceDefinition
    name: vtsingles.operator.victoriametrics.com
- path: patches/operator.victoriametrics.com_vtclusters.yaml
  target:
    kind: CustomResourceDefinition
    name: vtclusters.operator.victoriametrics.com
- path: patches/operator.victoriametrics.com_vlagents.yaml
  target:
    kind: CustomResourceDefinition
    name: vlagents.operator.victoriametrics.com
# - path: patches/webhook_in_operator_vmagents.yaml
# - path: patches/webhook_in_operator_vmsingles.yaml
# - path: patches/webhook_in_operator_vmalertmanagers.yaml
# - path: patches/webhook_in_operator_vmalerts.yaml
# - path: patches/webhook_in_operator_vmalertmanagerconfigs.yaml
# - path: patches/webhook_in_operator_vmauths.yaml
# - path: patches/webhook_in_operator_vmclusters.yaml
# - path: patches/webhook_in_operator_vmrules.yaml
# - path: patches/webhook_in_operator_vmusers.yaml
# - path: patches/webhook_in_operator_vlogs.yaml
# +kubebuilder:scaffold:crdkustomizewebhookpatch

# [CERTMANAGER] To enable cert-manager, uncomment all the sections with [CERTMANAGER] prefix.
# patches here are for enabling the CA injection for each CRD
#- path: patches/cainjection_in_operator_vmagents.yaml
#- path: patches/cainjection_in_operator_vmalerts.yaml
#- path: patches/cainjection_in_operator_vmalertmanagers.yaml
#- path: patches/cainjection_in_operator_vmalertmanagerconfigs.yaml
#- path: patches/cainjection_in_operator_vmpodscrapes.yaml
#- path: patches/cainjection_in_operator_vmrules.yaml
#- path: patches/cainjection_in_operator_vmservicescrapes.yaml
#- path: patches/cainjection_in_operator_vmsingles.yaml
#- path: patches/cainjection_in_operator_vmclusters.yaml
#- path: patches/cainjection_in_operator_vmprobes.yaml
#- path: patches/cainjection_in_operator_vmnodescrapes.yaml
#- path: patches/cainjection_in_operator_vmstaticscrapes.yaml
#- path: patches/cainjection_in_operator_vmusers.yaml
#- path: patches/cainjection_in_operator_vmauths.yaml
#- path: patches/cainjection_in_operator_vmscrapeconfigs.yaml
#- path: patches/cainjection_in_operator_vlogs.yaml
#- path: patches/cainjection_in_operator_vlsingles.yaml
#- path: patches/cainjection_in_operator_vlclusters.yaml
# +kubebuilder:scaffold:crdkustomizecainjectionpatch

# [WEBHOOK] To enable webhook, uncomment the following section
# the following config is for teaching kustomize how to do kustomization for CRDs.
configurations:
- kustomizeconfig.yaml
