apiVersion: operator.victoriametrics.com/v1
kind: VLAgent
metadata:
  name: example
spec:
  resources:
    requests:
      cpu: "50m"
      memory: "350Mi"
    limits:
      cpu: "500m"
      memory: "850Mi"
  useStrictSecurity: true
  k8sCollector:
    enabled: true
    extraFields: '{"env":"dev","cluster":"staging"}'
    msgFields:
      - msg
      - message
      - log.msg
    timeFields:
      - time
      - ts
      - timestamp
  remoteWrite:
    - url: "http://vlsingle-example-0.default.svc:9428/internal/insert"
