kind: ConfigMap
apiVersion: v1
metadata:
  name: vm-agent-global-relabel-config
  labels:
    app: vm-operator
data:
  relabel.yaml: |-
    - source_labels: [__meta_kubernetes_pod_name]
      target_label: pod_name

---
kind: ConfigMap
apiVersion: v1
metadata:
  name: vm-agent-url-relabel-config
  labels:
    app: vm-operator
data:
  relabel.yaml: |-
    - source_labels: [__meta_kubernetes_node_name]
      target_label: node_name
---
apiVersion: v1
kind: Secret
metadata:
  name: rws-bearer-token
  labels:
    app: vm-operator
type: Opaque
stringData:
  token: token_test
---
apiVersion: v1
kind: Secret
metadata:
  name: rws-basic-auth
  labels:
    app: vm-operator
type: Opaque
stringData:
  username: admin
  password: passw0rd
---
apiVersion: operator.victoriametrics.com/v1beta1
kind: VMAgent
metadata:
  name: example-vmagent-full
spec:
  serviceScrapeNamespaceSelector:
    matchLabels:
      managed-by: vm-operator
    matchExpressions:
      - operator: Exists
        key: name
  serviceScrapeSelector:
    matchLabels:
      managed-by: vm-operator
    matchExpressions:
      - operator: Exists
        key: name
  podScrapeNamespaceSelector:
    matchLabels:
      managed-by: vm-operator
    matchExpressions:
      - operator: Exists
        key: name
  podScrapeSelector:
    matchLabels:
      managed-by: vm-operator
    matchExpressions:
      - operator: Exists
        key: name
  probeSelector: {}
  probeNamespaceSelector: {}
  podMetadata:
    labels:
      key: value
    annotations:
      key: value
  staticScrapeSelector: {}
  staticScrapeNamespaceSelector: {}
  image:
    repository: victoriametrics/vmagent
    tag: v1.46.0
    pullPolicy: ifNotPresent
  scrapeInterval: 30s
  vmAgentExternalLabelName: vmagent
  externalLabels:
    key: value
  # Add fields here
  replicaCount: 1
  resources:
    limits:
      cpu: "500m"
      memory: "750Mi"
    requests:
      cpu: "150m"
      memory: "250Mi"
  serviceAccountName: vmagent
  extraArgs:
    memory.allowedPercent: "40"
  relabelConfig:
    name: "vm-agent-global-relabel-config"
    key: "relabel.yaml"
  remoteWrite:
    - url: "http://vmsingle-example-vmsingle.default.svc:8429/api/v1/write"
      basicAuth:
        username:
          name: rws-basic-auth
          key: username
        password:
          name: rws-basic-auth
          key: password
#      flushInterval: 2s
#      queues: 2
      urlRelabelConfig:
        name: "vm-agent-url-relabel-config"
        key: "relabel.yaml"
#      label:
#        primary: "yes"
    - url: "http://vmsingle-example-vmsingle.alternative.svc:8429/api/v1/write"
#      maxDiskUsagePerURL: 33
#      sendTimeout: 30s
#      showURL: true
      bearerTokenSecret:
        name: rws-bearer-token
        key: token
      urlRelabelConfig:
        name: "vm-agent-global-relabel-config"
        key: "relabel.yaml"
