---
apiVersion: v1
kind: Secret
metadata:
  name: vmalert-basic-auth
  labels:
    app: vm-operator
type: Opaque
stringData:
  username: admin
  password: passw0rd
---
apiVersion: operator.victoriametrics.com/v1beta1
kind: VMAlert
metadata:
  name: example-vmalert
spec:
  podMetadata:
    labels:
      key: value
    annotations:
      key: value
  image:
    repository: victoriametrics/vmalert
    tag: v1.46.0
    pullPolicy: IfNotPresent
  replicaCount: 1
  extraArgs:
    loggerLevel: INFO
  extraEnvs:
    - name: external.Url
      value: http://some-url
  datasource:
    url: "http://vmagent-example-vmsingle.default.svc:8429"
    basicAuth:
      username:
        name: vmalert-basic-auth
        key: username
      password:
        name: vmalert-basic-auth
        key: password
  notifier:
    url: "http://alertmanager-operated:9093"
    basicAuth:
      username:
        name: vmalert-basic-auth
        key: username
      password:
        name: vmalert-basic-auth
        key: password
  notifiers:
    - url: "http://vmalertmanager-example-0.vmalertmanager.example.default.svc:9093"
      selector:
        namespaceSelector:
          any: false
          matchNames:
            - default
        labelSelector:
          matchLabels:
            usage: dev
  evaluationInterval: "30s"
  ruleSelector:
    matchLabels:
      managed-by: vm-operator
    matchExpressions:
      - operator: Exists
        key: name
  ruleNamespaceSelector:
    matchLabels:
      managed-by: vm-operator
    matchExpressions:
        - operator: Exists
          key: name
  remoteWrite:
    url: "http://vmagent-example-vmsingle.default.svc:8429"
    concurrency: 12
    flushInterval: 5m
    maxBatchSize: 20
    maxQueueSize: 100
    basicAuth:
      username:
        name: vmalert-basic-auth
        key: username
      password:
        name: vmalert-basic-auth
        key: password
  remoteRead:
    url: "http://vmagent-example-vmsingle.default.svc:8429"
    lookback: 1h
    basicAuth:
      username:
        name: vmalert-basic-auth
        key: username
      password:
        name: vmalert-basic-auth
        key: password
  serviceSpec:
    metadata:
      name: vmalert-lb
      labels:
        key: value
      annotations:
        key: value
    spec:
      type: LoadBalancer