apiVersion: operator.victoriametrics.com/v1alpha1
kind: VMDistributed
metadata:
  name: sample-vmauth
spec:
  vmauth:
    name: global-vmauth
    spec:
      image:
        repository: victoriametrics/vmauth
        pullPolicy: IfNotPresent
      replicaCount: 1
      resources:
        requests:
          cpu: "250m"
          memory: "350Mi"
        limits:
          cpu: "500m"
          memory: "850Mi"
  zoneCommon:
    vmagent:
      spec:
        replicaCount: 1
    vmcluster:
      spec:
        vmstorage:
          replicaCount: 1
        vmselect:
          replicaCount: 1
        vminsert:
          replicaCount: 1
  zones:
    - name: us-east-1
    - name: us-west-2
    - name: eu-west-1
