apiVersion: operator.victoriametrics.com/v1alpha1
kind: VMDistributed
metadata:
  name: VMDistributed-sample-vmagent
spec:
  vmagent:
    name: global-write-vmagent
    spec:
      image:
        repository: victoriametrics/vmagent
        pullPolicy: IfNotPresent
      replicaCount: 1
      resources:
        requests:
          cpu: "250m"
          memory: "350Mi"
        limits:
          cpu: "500m"
          memory: "850Mi"
  vmauth:
    name: global-read-vmauth
    spec:
      replicaCount: 1
  zones:
    vmclusters:
    - name: vmcluster-us-east-1
      spec:
        vmstorage:
          replicaCount: 1
        vmselect:
          replicaCount: 1
        vminsert:
          replicaCount: 1
    - name: vmcluster-us-west-2
      spec:
        vmstorage:
          replicaCount: 1
        vmselect:
          replicaCount: 1
        vminsert:
          replicaCount: 1
    - name: vmcluster-eu-west-1
      spec:
        vmstorage:
          replicaCount: 1
        vmselect:
          replicaCount: 1
        vminsert:
          replicaCount: 1
