apiVersion: operator.victoriametrics.com/v1beta1
kind: VMProbe
metadata:
  name: agent
spec:
  jobName: static-probe
  vmProberSpec:
    # by default scheme http, and path is /probe
    url: prometheus-blackbox-exporter.default.svc:9115
  module: http_2xx
  targets:
    static:
      targets:
      - vmagent-example.default.svc:8429/health
  interval: 2s
