apiVersion: operator.victoriametrics.com/v1beta1
kind: VMSingle
metadata:
  name: streaming-aggr
spec:
  image:
    tag: v1.89.1
  retentionPeriod: "1"
  streamAggrConfig:
    keepInput: false
    dedupInterval: 1m
    rules:
    - match: '{__name__=~"request_duration_seconds|response_size_bytes"}'
      interval: 30s
      outputs: ["quantiles(0.50, 0.99)"]