name: Build and Test

# This workflow will run on master branch and on any pull requests targeting master
on:
  push:
    branches:
      # prevent tag images override with branch push.
      - '^[^v1].*'
  pull_request:
    branches:
      - main
jobs:
  build:
    name: test and build
    runs-on: ubuntu-18.04
    steps:
      - name: Inject slug/short variables
        uses: rlespinasse/github-slug-action@v2.x
      - name: Setup Go
        uses: actions/setup-go@master
        with:
          go-version: 1.15
        id: go
      - name: Dependencies
        env:
          GO111MODULE: on
        run: |
          go get  golang.org/x/lint/golint
          go get github.com/kisielk/errcheck
          go get  github.com/golangci/golangci-lint/cmd/golangci-lint@v1.30.0
          curl -L -o operator-sdk "https://github.com/operator-framework/operator-sdk/releases/download/v1.0.0/operator-sdk-v1.0.0-x86_64-linux-gnu"
          chmod +x operator-sdk
          sudo mv operator-sdk /bin/
      - name: setup KIND for e2e tests
        uses: engineerd/setup-kind@v0.5.0
        with:
          version: "v0.9.0"
          image: kindest/node:v1.16.4
      - name: Code checkout
        uses: actions/checkout@master
      - name: build binary
        env:
          GO111MODULE: on
          TAG:   ${{ env.GITHUB_REF_SLUG }}
        run: |
          export PATH=$PATH:$(go env GOPATH)/bin # temporary fix. See https://github.com/actions/setup-go/issues/14
          make lint
          make test
          make build
      - name: run e2e tests
        run: |
          kubectl cluster-info
          kubectl get pods -n kube-system
          echo "current-context:" $(kubectl config current-context)
          echo "environment-kubeconfig:" ${KUBECONFIG}
          make e2e-local

      - name: build crosscompile and push to remote registry
        env:
          TAG:   ${{ env.GITHUB_REF_SLUG }}
        run: |
          echo ${{secrets.REPO_KEY}} | docker login --username ${{secrets.REPO_USER}} --password-stdin
          make publish-via-docker