name: Release
on:
  release:
    types:
      - created
jobs:
  release:
    name: Release on GitHub
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: write
      pages: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Restore binaries from cache
        uses: actions/cache/restore@v4
        with:
          path: ./bin
          key: binary
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.23.4'
        id: go
      - name: lint, test and build
        env:
          TAG: ${{ github.event.release.tag_name }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          make lint test build build-installer
          echo ${{secrets.REPO_KEY}} | docker login --username ${{secrets.REPO_USER}} --password-stdin
          make publish
          TAG=${TAG} make olm
          gh release upload ${{github.event.release.tag_name}} ./dist/install-no-webhook.yaml#install-no-webhook.yaml --clobber || echo "fix me NOT enough security permissions"
          gh release upload ${{github.event.release.tag_name}} ./dist/install-with-webhook.yaml#install-with-webhook.yaml --clobber || echo "fix me NOT enough security permissions"
          gh release upload ${{github.event.release.tag_name}} ./config/crd/overlay/crd.yaml#crd.yaml --clobber || echo "fix me NOT enough security permissions"
      - name: Prapare binary cache
        uses: actions/cache@v4
        with:
          path: ./bin
          key: binary
      - uses: actions/upload-artifact@v4
        with:
          name: olm
          path: bundle
          retention-days: 1
